<!-- <div>  -->
    <!-- <h3>{{element.elementName}}<br>{{element.elementType}}</h3> -->
    <!-- <br> -->
    <!-- <p>{{element.required}}</p> -->
    <!-- <button class="btn btn-danger" (click)="onClick(todo)" (todoDelete)="deleteTodo($event)">Delete</button> -->
<!-- </div> -->

<!-- <div style="margin: 50px 200px 100px 200px;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        
        <ng-container matColumnDef="element-name">
          <th mat-header-cell *matHeaderCellDef> Element Name </th>
          <td mat-cell *matCellDef="let element"> {{element.eName}} </td>
        </ng-container> -->
      
        <!-- Weight Column-->

        <!-- <ng-container matColumnDef="element-type">
          <th mat-header-cell *matHeaderCellDef> Element Type </th>
          <td mat-cell *matCellDef="let element"> {{element.eType}} </td>
        </ng-container> -->
      
        <!-- Symbol Column -->

        <!-- <ng-container matColumnDef="required">
          <th mat-header-cell *matHeaderCellDef> Required </th>
          <td mat-cell *matCellDef="let element"> {{element.required}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
     
</div>  -->


<!-- <div style="margin: 50px 200px 100px 200px;">
    <table mat-table class="mat-elevation-z8">

        
        <ng-container matColumnDef="element-name">
          <th mat-header-cell *matHeaderCellDef> Element Name </th>
          <td mat-cell *matCellDef="let element"> {{element.elementName}} </td>
        </ng-container> -->
      
        <!-- Weight Column-->

        <!-- <ng-container matColumnDef="element-type">
          <th mat-header-cell *matHeaderCellDef> Element Type </th>
          <td mat-cell *matCellDef="let element"> {{element.elementType}} </td>
        </ng-container>
       -->
        <!-- Symbol Column -->

        <!-- <ng-container matColumnDef="required">
          <th mat-header-cell *matHeaderCellDef> Required </th>
          <td mat-cell *matCellDef="let element"> {{element.required}} </td>
        </ng-container> -->
      
        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
     
</div> 
   -->

   
    
    <ul class="responsive-table container">
      <!-- <li class="table-header">
        <div class="col col-1">Element Name</div>
        <div class="col col-2">Element Type</div>
        <div class="col col-3">Required</div>
      </li> -->
      
      
      <li class="table-row">
        <div class="col col-1">{{element.elementName}}</div>
        <div class="col col-2" >{{element.elementType}}</div>
        <div class="col col-3" >{{element.required}}</div>
        <!-- <div class="col col-4" data-label="Payment Status">Pending</div> -->
      </li>
    </ul>
  